@import "aside";//²à±ßÀ¸
body,html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Ö÷ÌåÇø*/
.lt_main {
  width: 100%;
  padding-left: 180px;
  .lt_topBar {
    height: 50px;
    background-color: #3c8dbc;
    line-height: 50px;
    padding: 0 20px;
  }
}