@charset "UTF-8";
html,
body {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.lt_container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
  /*头部*/
  /*主体内容区*/
  /*底部*/
}
.lt_container .lt_header {
  height: 45px;
  width: 100%;
  background-color: #069;
  position: absolute;
  top: 0;
  left: 0;
}
.lt_container .lt_header a {
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  line-height: 45px;
}
.lt_container .lt_header a.btn_home {
  left: 0;
}
.lt_container .lt_header a.btn_search {
  right: 0;
}
.lt_container .lt_header h3 {
  height: 100%;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0 45px;
}
.lt_container .lt_main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.lt_container .lt_footer {
  height: 55px;
  width: 100%;
  background-color: #069;
  position: absolute;
  bottom: 0;
  left: 0;
}
.lt_container .lt_footer ul {
  margin: 0;
  padding-top: 8px;
}
.lt_container .lt_footer ul li {
  float: left;
  width: 25%;
  text-align: center;
}
.lt_container .lt_footer ul li a {
  display: block;
  color: #fff;
}
.lt_container .lt_footer ul li a p {
  color: #fff;
}
.lt_container .lt_footer ul li a p.now {
  color: orangered;
}
.lt_container .lt_footer ul li a.now {
  color: orangered;
}
.myform {
  padding: 10px;
}
.myform .vcode_wrap input {
  width: 65%;
}
.myform .vcode_wrap button.mui-btn {
  width: 30%;
  padding: 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
.myform .tips {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.myform .btn_register {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 40px;
  line-height: 40px;
}
.now {
  background-color: #666;
  border-color: #666;
}
